If:
  PathMatch: iOS/.*\.(m|h)$
CompileFlags:
  Add:
    - -xobjective-c
    - -fobjc-arc
    - -fmodules
    - -isysroot
    - /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS.sdk
    - -F/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS.sdk/System/Library/Frameworks
    - -I../../depolllib/depolllib
    - -I../LayoutManagers
    - -I../pitchperfectlib/pitchperfectlib
    - -I.
    - -fmodule-map-file=../../Pods/Firebase/CoreOnly/Sources/module.modulemap
