<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>572337670650-1g9cr8frnk55s35aso5ic642492jvdf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572337670650-1g9cr8frnk55s35aso5ic642492jvdf3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>572337670650-oesp6qp8cinva94kn4o0qu9s348hobvm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPKwcF0DOLxbMEqmdn9y-ZwMgfS8HKN9I</string>
	<key>GCM_SENDER_ID</key>
	<string>572337670650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>depollsoft.tagmaster</string>
	<key>PROJECT_ID</key>
	<string>tag-master</string>
	<key>STORAGE_BUCKET</key>
	<string>tag-master.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:572337670650:ios:278170d8d95bb5a6</string>
	<key>DATABASE_URL</key>
	<string>https://tag-master.firebaseio.com</string>
</dict>
</plist>