<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="depollsoft.tagmaster"
    android:versionCode="26"
    android:versionName="@string/VersionNumber" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="13">
    </uses-sdk>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name="TagMasterApplication" >

        <!-- Used for install referrer tracking -->
        <receiver
            android:exported="true"
            android:name="com.google.android.apps.analytics.AnalyticsReceiver" >
            <intent-filter >
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".TagBrowser" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".TagDetailActivity" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".TagSummaryActivity" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".TagMiscActivity" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".TagVideosActivity" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".TagTracksActivity" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".TagQueryActivity" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name=".TagSearchActivity" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:name=".TagSearchResultsActivity" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:name=".TagMasterBrowserActivity" >
        </activity>

        <provider
            android:authorities="depollsoft.tagmaster"
            android:name="depollsoft.lib.util.ContentCacheFileProvider" >
        </provider>

        <activity
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:name=".MeActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:name=".UrlHandlerActivity" android:noHistory="true">
            <intent-filter
                android:icon="@drawable/icon"
                android:label="@string/app_name" >
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="www.barbershoptags.com"
                    android:pathPrefix="/dbpage.php"
                    android:scheme="http" >
                </data>
                <data
                    android:host="barbershoptags.com"
                    android:pathPrefix="/dbpage.php"
                    android:scheme="http" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".SettingsActivity" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:name=".TeachableTagsActivity" >
        </activity>
    </application>

</manifest>