<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="depollsoft.tagmaster"
    android:versionCode="33"
    android:versionName="@string/VersionNumber" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" >
    </uses-sdk>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:name="TagMasterApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >

        <!-- Used for install referrer tracking -->
        <receiver
            android:name="com.google.android.apps.analytics.AnalyticsReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TagBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TagDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TagSummaryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TagMiscActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TagVideosActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TagTracksActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TagQueryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TagSearchActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".TagSearchResultsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/icon"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TagMasterBrowserActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/icon"
            android:label="@string/app_name" >
        </activity>

        <provider
            android:name="depollsoft.lib.util.ContentCacheFileProvider"
            android:authorities="depollsoft.tagmaster"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".MeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/icon"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UrlHandlerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter
                android:icon="@drawable/icon"
                android:label="@string/app_name" >
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="www.barbershoptags.com"
                    android:pathPrefix="/dbpage.php"
                    android:scheme="http" >
                </data>
                <data
                    android:host="barbershoptags.com"
                    android:pathPrefix="/dbpage.php"
                    android:scheme="http" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TeachableTagsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/icon"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>