<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Format</Key>
            <Value>SmartBanner</Value>
          </Property>
        </Metadata>
        <Name>GoogleAdMob</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>54a78009-dbac-40be-84c5-d84b0008fffe</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>ca-app-pub-2903856737482177/7572933041</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>10013845</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-821FDE9F-BDE9-4571-BC5D-2A09828E179E</Id>
        <Name>AdMediator_804747</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>60</RefreshRate>
  <TestConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Format</Key>
            <Value>Banner</Value>
          </Property>
        </Metadata>
        <Name>GoogleAdMob</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>test_client</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>MY_AD_UNIT_ID</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-821FDE9F-BDE9-4571-BC5D-2A09828E179E</Id>
        <Name>AdMediator_804747</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </TestConfiguration>
  <UpdatedDateTime>2014-12-08T01:29:46.0468134Z</UpdatedDateTime>
</AdMediatorConfiguration>