<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>402153260205-au5n1clmraopgfhhs1p9jlr13olva9mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402153260205-au5n1clmraopgfhhs1p9jlr13olva9mn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>402153260205-65qkddp6639bo0gua69sobf8k71fn7c6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApioSChtAHkr4I2or-mSqx40hNV_kGgCs</string>
	<key>GCM_SENDER_ID</key>
	<string>402153260205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>depollsoft.pitchperfect</string>
	<key>PROJECT_ID</key>
	<string>pitch-perfect-94415</string>
	<key>STORAGE_BUCKET</key>
	<string>pitch-perfect-94415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:402153260205:ios:ac6d3da61f223569</string>
	<key>DATABASE_URL</key>
	<string>https://pitch-perfect-94415.firebaseio.com</string>
</dict>
</plist>